.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/ImageEditing
build/liblibtarga.a
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-69fe41db3c75bf788138.json
build/.cmake/api/v1/reply/cmakeFiles-v1-36d37b1aabc1af938a33.json
build/.cmake/api/v1/reply/codemodel-v2-ec51a46673bba784a50f.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2023-03-11T03-16-35-0860.json
build/.cmake/api/v1/reply/target-ImageEditing-Debug-cce547f94ccf23cfc73e.json
build/.cmake/api/v1/reply/target-libtarga-Debug-1d7ed48db1e75badeab6.json
build/.cmake/api/v1/reply/toolchains-v1-074db5775ec40502811a.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/ImageEditing.dir/build.make
build/CMakeFiles/ImageEditing.dir/cmake_clean.cmake
build/CMakeFiles/ImageEditing.dir/compiler_depend.internal
build/CMakeFiles/ImageEditing.dir/compiler_depend.make
build/CMakeFiles/ImageEditing.dir/compiler_depend.ts
build/CMakeFiles/ImageEditing.dir/depend.make
build/CMakeFiles/ImageEditing.dir/DependInfo.cmake
build/CMakeFiles/ImageEditing.dir/flags.make
build/CMakeFiles/ImageEditing.dir/link.txt
build/CMakeFiles/ImageEditing.dir/progress.make
build/CMakeFiles/ImageEditing.dir/src/ImageWidget.cpp.o
build/CMakeFiles/ImageEditing.dir/src/ImageWidget.cpp.o.d
build/CMakeFiles/ImageEditing.dir/src/Main.cpp.o
build/CMakeFiles/ImageEditing.dir/src/Main.cpp.o.d
build/CMakeFiles/ImageEditing.dir/src/ScriptHandler.cpp.o
build/CMakeFiles/ImageEditing.dir/src/ScriptHandler.cpp.o.d
build/CMakeFiles/ImageEditing.dir/src/TargaImage.cpp.o
build/CMakeFiles/ImageEditing.dir/src/TargaImage.cpp.o.d
build/CMakeFiles/libtarga.dir/build.make
build/CMakeFiles/libtarga.dir/cmake_clean_target.cmake
build/CMakeFiles/libtarga.dir/cmake_clean.cmake
build/CMakeFiles/libtarga.dir/compiler_depend.internal
build/CMakeFiles/libtarga.dir/compiler_depend.make
build/CMakeFiles/libtarga.dir/compiler_depend.ts
build/CMakeFiles/libtarga.dir/depend.make
build/CMakeFiles/libtarga.dir/DependInfo.cmake
build/CMakeFiles/libtarga.dir/flags.make
build/CMakeFiles/libtarga.dir/link.txt
build/CMakeFiles/libtarga.dir/progress.make
build/CMakeFiles/libtarga.dir/src/libtarga.c.o
build/CMakeFiles/libtarga.dir/src/libtarga.c.o.d
